
/* It is empty at the moment  */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0px;
	border: 0px;
	background-image:url(../images/background.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	background-color: rgba(156, 120, 73, 0.762);
    background-blend-mode: overlay;
	color:#FFF;
	font-family: 'Luckiest Guy', sans-serif;
	font-size:16px;
}

h1 {
    text-align: center;
    font-size: 90px;
    color: #000000;

}

#musicboard {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.music-instruments, .musicboard {
    margin-top: 40px;
    height: 100%;
	border: medium dashed #ffffff00;
	color: inherit;
	overflow: hidden;

}

.music-instruments {
	height: 200px;
	margin-top: 20px;
    padding-left: 250px;
	display: flex;
	flex-direction: row;
    position: absolute;
}

#instruments img{ 
    padding-right: 20px;
}

p {
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.drop-zone {
    height: 300px;
    width: 1000px;
    margin-left: 300px;
    padding-left: 250px;
    background: #ffffff5f;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}



.drop-zone img{
    position: absolute;
}

.drop-zone img:nth-child(1) {
    top: 10px; 
    left: 20px; 
}

.drop-zone img:nth-child(2) {
    top: 10px;
    left: 350px; 
}

.drop-zone img:nth-child(3) {
    top: 10px;
    left: 700px; 
}

.drop-zone img:nth-child(4) {
    top: 10px;
    left: 10000px; 
}

.drop-zone img:nth-child(5) {
    top: 10px;
    left: 10000px; 
}

.drop-zone img:nth-child(6) {
    top: 10px;
    left: 10000px; 
}


.track-ref { cursor: pointer; padding: 1em; }


/* audio { display: block; } */


#audio-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
  }

  button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #4CAF50; /* Green */
    color: white;
  }

  button:hover {
    background-color: #45a049;
  }

  input[type="range"] {
    width: 150px;
    margin: 0 10px;
  }



